.AnchoImagen{
	width: 340px;
}
.noresize{
	resize: none;
}
#charNum{
	position: absolute;
    bottom: 28px;
    right: 20px;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    color: #828587;
}
#charNum1{
	position: absolute;
    bottom: 33px;
    right: 20px;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    color: #828587;
}